.bs-callout-active.bs-callout
  %h2= _('All rubygems maintained by user %{name}') % { :name => @name}
  %p Total: #{@rpms.count}
  %p Up to date: #{@uptodate.count}
  %p Outdated: #{@outdated.count}
  %p
    = link_to _('See it in a nice bubble chart'), stats_path + "/" + @name + "/user_rpms"
  %p
    Green lines indicate rpms that are up to date, red ones are outdated.

.table-responsive
  %table.table.table-hover.table-condensed
    %thead
      %tr.warning
        %th= sortable _('Rpm')
        %th= _('Upstream')
        %th= _('Rawhide')
        %th= _('Git Commits')

    %tbody
      - @rpms.each do |rpm|
        %tr{class: rpm.up_to_date? ? 'success' : 'danger'}
          %td= link_to rpm.name, fedorarpm_path(rpm.name)
          %td= rpm.ruby_gem.version if rpm.ruby_gem
          %td= rpm.version_for 'Rawhide'
          %td= rpm.commits
