.bs-callout-info.bs-callout
  %h2= @rpm.name
  %p
  - unless @rpm.summary.blank?
    = "#{@rpm.summary}"

-#  = link_to _('Timeline (Bugs and Versions)'), stats_path + "/" + @name + "/timeline"

.span12
  %ul.nav.nav-tabs#fedorarpm-show{role: 'tablist'}
    %li.active
      = link_to 'Basic info', '#info', { data: {toggle: 'tab'}, role: 'tab' }
    %li
      = link_to 'Versions', '#versions', { data: {toggle: 'tab'}, role: 'tab' }
    %li
      = link_to 'Dependencies', '#dependencies', { data: {toggle: 'tab'}, role: 'tab' }
    %li
      = link_to 'Bugs', '#bugs', { data: {toggle: 'tab'}, role: 'tab' }
    %li
      = link_to 'Builds', '#builds', { data: {toggle: 'tab'}, role: 'tab' }
  %p
  .tab-content.span12#fedorarpm-show
    .tab-pane.fade.in.active#info
      - unless @rpm.ruby_gem.nil?
        = button_to "#{@rpm.ruby_gem.name}.gem", rubygem_path(@rpm.ruby_gem.name),
        :class => 'btn btn-success', :type => 'button', :method => :get
      %br
      %p
        Up to date:
        - if @rpm.up_to_date?
          %span.label.label-success= _('Yes')
        - else
          %span.label.label-danger= _('No')
      %p
        Gitweb repository:
        = link_to @rpm.source_uri, @rpm.source_uri
      %p
        SPEC file:
        = link_to @rpm.spec_uri, @rpm.spec_uri
      - unless @rpm.homepage.blank? || @rpm.homepage == @rpm.source_uri
        %p
          Upstream url:
          = link_to @rpm.homepage, @rpm.homepage
      - unless @rpm.owner.blank?
        %p
          Maintainer:
          = link_to @rpm.owner,
          fedorarpm_path(@rpm.owner + "/by_owner")
      %p
        Git Commits: <strong>#{@rpm.commits}</strong>
      - unless @rpm.last_committer.blank?
        %p
          Last packager: <strong>#{@rpm.last_committer}</strong>
      - unless @rpm.last_commit_message.blank?
        %p
          Last commit message: <strong>#{@rpm.last_commit_message}</strong>
      - unless @rpm.last_commit_date.blank?
        %p
          Last commit date: <strong>#{@rpm.last_commit_date.to_s(:long)}</strong>
      - unless @rpm.description.blank?
        %p
          Description:
          =@rpm.description

    .tab-pane.fade#versions
      .table-responsive
        %table.table.table-hover.table-condensed
          %thead
            %tr.warning
              -FedoraRpm.fedora_versions.each do |t, g|
                %th= t
              %th= _('Gem Version')
          %tbody
            %tr
              -FedoraRpm.fedora_versions.each do |t, g|
                %td= @rpm.version_for(t)
              %td= @rpm.ruby_gem.version

    .tab-pane.fade#dependencies
      %h3
        = link_to 'Dependency Tree', controller: 'fedorarpms',
                                     action: 'full_deps'
      .row
        .col-md-6
          - if @dependencies.blank?
            %h4 No dependencies
          - else
            %h4= "Dependencies: #{@dependencies.count}"

            .table-responsive
              %table.table.table-hover.table-condensed
                %thead
                  %tr.warning
                    %th Package
                    %th Environment
                    -FedoraRpm.fedora_versions.each do |t, g|
                      - if g == 'master'
                        %th= 'Rawhide'
                      - else
                        %th= g
                    %th= _('Upstream')
                %tbody
                  - @dependencies.each do |d|
                    %tr
                      %td= link_to d.name, fedorarpm_path(d.name)
                      %td= @rpm.dependencies.find_by(dependent: d.shortname).environment
                      -FedoraRpm.fedora_versions.each do |t, g|
                        %td= d.version_for(t)
                      %td= d.ruby_gem.version

        %div.col-md-6
          - if @dependents.blank?
            %h4 No dependents
          - else
            %h4= "Dependents: #{@dependents.count}"

            .table-responsive
              %table.table.table-hover.table-condensed
                %thead
                  %tr.warning
                    %th= _('Package')
                    -FedoraRpm.fedora_versions.each do |t, g|
                      - if g == 'master'
                        %th= 'Rawhide'
                      - else
                        %th= g
                    %th= _('Upstream')
                %tbody
                  - @dependents.each do |d|
                    %tr
                      %td= link_to d.name, fedorarpm_path(d.name)
                      -FedoraRpm.fedora_versions.each do |t, g|
                        %td= d.version_for(t)
                      %td= d.ruby_gem.version

    .tab-pane.fade#bugs
      - if @rpm.bugs.blank?
        %h4 No bugs found!
      - else
        .table-responsive
          %table.table.table-hover.table-condensed
            %thead
              %tr.warning
                %th= _('ID')
                %th= _('Title')
            %tbody
              - @rpm.bugs.each do |b|
                %tr
                  %td
                    = link_to b.bugzilla_id, b.url
                  %td
                    = b.summary.truncate(60)

    .tab-pane.fade#builds
      .table-responsive
        %table.table.table-hover.table-condensed
          %thead
            %tr.warning
              %th= _('Build ID')
              %th= _('Title')
          %tbody
            - @rpm.koji_builds.each do |b|
              %tr
                %td
                  = link_to b.build_id, b.build_url
                %td
                  = b.name.truncate(60)
