%header.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: {toggle: 'collapse', target: '#header-collapse'}}
        %span.sr-only 'Toggle navigation'
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'FedoraRuby', root_path, class: 'navbar-brand'

    %nav.collapse.navbar-collapse#header-collapse{role: 'navigation'}
      %ul.nav.navbar-nav
        %li{class: is_active?(root_path)}
          = link_to _('Home'), root_path
        %li{class: is_active?(rubygems_path)}
          = link_to _('Ruby Gems'), rubygems_path
        %li{class: is_active?(fedorarpms_path)}
          = link_to _('Fedora Rpms'), fedorarpms_path
        %li{class: is_active?(bugs_path)}
          = link_to _('Bugs'), bugs_path
        %li{class: is_active?(about_path)}
          = link_to _('About'), about_path

      %ul.nav.navbar-nav.navbar-right
        %li
          = form_tag( { :controller => 'searches', :action => 'redirect' },
          :class => 'navbar-form', :method => 'post') do
            .input-group
              = text_field_tag :search, params[:search] ||= '',
                  class: 'search-query form-control',
                  placeholder: 'Search'
              %span.input-group-btn
                = button_tag raw('<span class="glyphicon glyphicon-search"></span>'), name: nil, class: 'btn btn-default'
